extends layout

block content
	main.game
		div#player1.player-info.p1
			h3 Player 1
			label Rows
			p#p1-rows.score-card 0
			label Captures
			p#pl-captures.score-card 0
		div#board
			table
		div#player2.player-info.p2
			h3 Player 2
			label Rows
			p#p2-rows.score-card 0
			label Captures
			p#p2-captures.score-card 0