doctype html
html
	head
		title= title
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Courgette')
		link(rel='stylesheet', href='/normalize.css/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h2.game-title
				a(href='/')= title
			nav
				ul
					li
						if !game
							a(href='/game/versus') Versus
					li
						if !game
							a(href='/game/teams') Teams
					li
						if !game
							a(href='#join', data-reveal) Join
					li
						a(href='#settings', data-reveal) Settings
					li
						if game
							a(href='#quit', data-reveal) Quit

		block content

		// Modals
		div#settings.modal(data-modal)
			div.container
				h3 Settings
				p Change your gaming preferences below.
				a(href='#', data-save) Save
				a(href='#', data-cancel) Cancel
		if game
			div#quit.modal(data-modal)
				div.container
					h3 Confirm Quit
					p Are you sure you want to quit?
					a(href='/quit') Yes
					a(href='#quit', data-close) No
		else
			div#join.modal(data-modal)
				div.container
					h3 Join a Game
					p Enter the six-digit game id code below.
					form
						input(type='text', id="game-id", placeholder='XXXXXX')
					a(href='#', data-join) Join
					a(href='#join', data-close) Cancel

		// Scripts
		script(src='/underscore/underscore.js')
		script(src='/jQuery/dist/jquery.min.js')
		script(src='/javascripts/main.js')
		if game
			script(src='/socket.io/socket.io.js')
			script(src='/javascripts/game.js')