extends layout

block content
	main.intro
		h1 Welcome to Pente
		p Want to play, but you don't know the rules? Read the instructions below and then grab some friends for some simple fun.
		h2 Rules
		p In the game of Pente players alternate in placing stones of their color on free intersections, with White always assuming the opening move. The players aim to align five stones of the same color suite in vertical, horizontal or diagonal lines. Captures are obtained by flanking pairs of an opponent's stones in any same direction. (captures must consist of pairs; flanking a single stone does not result in a capture) A player cannot lead their own stones into capture by moving into a flank after the fact. A player wins by scoring five stones in a row, or capturing five pairs of opponent stones. Pente can also be played by four people, with pairs of two acting as partners.