*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  background: #ecf0f1;
  padding: 0;
  margin: 0;
}
a {
  color: #65bd77;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Courgette, cursive;
  font-weight: normal;
}
header {
  height: 50px;
  margin-bottom: 30px;
  background: #2c3e50;
}
header .game-title {
  margin: 0;
  float: left;
  font-size: 30px;
  font-family: Courgette, cursive;
  font-weight: normal;
  line-height: 50px;
}
header .game-title a {
  color: #ecf0f1;
  padding: 0 15px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#board {
  padding: 0 30px;
}
#board table {
  border-collapse: separate;
  border-spacing: 10px;
}
#board table.active td {
  cursor: pointer;
}
#board table td {
  width: 25px;
  height: 25px;
  border: 1px solid #34495e;
}
#board table td.active {
  cursor: default;
}
#board table td.victory {
  border-color: #2980b9;
  border-width: 2px;
}
#board table .p1 {
  background: #f1c40f;
  border-color: #f1c40f;
}
#board table .p2 {
  background: #e74c3c;
  border-color: #e74c3c;
}
#board table .p3 {
  background: #2980b9;
  border-color: #2980b9;
}
#board table .p4 {
  background: #2ecc71;
  border-color: #2ecc71;
}
.player-info {
  width: 100px;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
}
.player-info.active {
  opacity: 1;
}
.player-info.current {
  background: #fff;
}
.player-info label {
  font-size: 80%;
}
.player-info .score-card {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
.p1 .score-card {
  background: #f1c40f;
}
.p2 .score-card {
  background: #e74c3c;
}
